


body{
   width: 357px;
   background-color:rgba(255, 192, 203, 0.425);
   text-align: center;
   margin: 1rem auto;

}


 

 section{
    background-color: white;
    border-radius: 7px;
    
 }


 p{ font-size: 18px;
 padding: 0 11px;

text-align: left;
color:rgba(0, 0, 0, 0.5) ;
}
h1{
    margin: 9px;
    text-align: left;
    padding-left: 30px;
    font-size: 30px;
    display: inline;
}
.one{
    width: 356px;
    height:auto ;
    border-radius: 7px;
 }

.sec{
color: green;
font-size: 30px;
margin-bottom: 20px;

}
.dor{
    display: inline-flex;
    font-size: 16px;
    text-decoration: line-through;
    

}

.link {
    display: inline-block;
    text-decoration: none;
text-align: center;
color: aliceblue;
  background-color: rgb(98, 146, 98);
  padding: 10px 100px;
border: 2px solid ;
border-radius: 9px;
margin-bottom: 20px;
}
a:hover{
    color:aliceblue;
    background-color: blueviolet;
}



@media screen and (min-width:992px){


  section{
   background-color: white;
   border-radius: 7px;
   height: fit-content;
   display: flex;
   place-content: center;
   width: 400px;
   padding-right: 120px;
   text-align: center;

 }

  p , h1{
    padding-right: 80px;
    max-width: 200px;
    display: flex;
  }   
 
  
  .sec{
    padding-right: 0px;
    display: flex;
    width: auto;
  }

  .link {
    padding: auto;
    text-align: center;
  }




}








